<md-card class="fade" ng-if="person">
  <md-card-title layout="column" layout="center center" layout-gt-xs="row">
    <md-card-title-text flex-order="2" flex-order-gt-xs="1">
      <span class="md-headline">{{person.name}}</span>
      <span class="md-subhead">{{person.monthDay + '/' + person.year | amDateFormat: 'MMMM Do, YYYY'}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <img ng-show="person.imageUrl" class="md-media-xl card-media" ng-src="{{person.imageUrl}}">
    <p>{{person.aboutText}}</p>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-fab md-mini" aria-label="Cake">
      <md-icon md-font-icon="material-icons">cake</md-icon>
    </md-button>
    <md-button class="md-primary md-fab md-mini" ng-href="https://en.wikipedia.org{{person.uri}}" target="_blank"  aria-label="Info">
      <md-icon md-font-icon="material-icons">info</md-icon>
      <md-tooltip md-direction="top">
        Learn More
      </md-tooltip>
    </md-button>
  </md-card-actions>
</md-card>
